# Path to the ESP-IDF source repository
export IDF_PATH=$(pwd)/esp-idf
# Path to built ESP-IDF tools
export IDF_TOOLS_PATH=$(pwd)/idf-tools

if [ -d $IDF_TOOLS_PATH/python_env ]; then
	. $IDF_PATH/export.sh
else
    echo "To set up esp-idf toolchain, run the following command:"
    echo ""
    echo "  ./esp-idf/install.sh"
    echo ""
    echo "See README.md for additional setup instructions."
fi
